.big_img {
    width: 100%;
    height: 330px;
    background: url(../imgs/guanyuwomen_banner.png) no-repeat center;
    background-size: cover;
}
.wrap {
    width: 100%;

}
.contain {
    width: 1024px;
    margin: 0 auto;
}
.big_title {
    padding: 30px 0;
}
.big_title h2 {
    background-color: #e95400;
    color: white;
    text-align: center;
    width: 150px;
    line-height: 50px;
    float: left;
}
.big_title h2:nth-child(2) {
    font-size: 28px;
    color: #686767;
    line-height: 47px;
    margin-left: 330px;
    background: none
}





.intro {
    margin: 20px 0 55px 0;
}
.intro .intro_img {
    float: left;
    margin-right: 38px;
}
.intro_word {
    width: 636px;
    float: right;
}
.intro_word p {
    font-size: 15px;
    color: #555454;
    line-height: 25px;
    text-indent: 30px;
}
.certificate p{
    font-size: 18px;
    color: #e95400;
    margin-bottom: 35px;
}
.rongyu_imgs img {
    margin-right: 45px;
    margin-bottom: 20px;
    float: left;
}
.rongyu_imgs img:nth-child(4n) {
    margin-right: 0px;
    margin-bottom: 20px;
}
.honor img {
    margin-right: 45px;
    margin-bottom: 20px;
    float: left;
}
.honor img:nth-child(5n) {
    margin-right: 0px;
    margin-bottom: 20px;
}
