.swiper-wrapper .swiper-slide1 {
    /*overflow: hidden;*/
    background: url(../imgs/banner1.png) no-repeat center;
    background-size: cover;

}
.swiper-wrapper .swiper-slide2 {
    /*overflow: hidden;*/
    background: url(../imgs/banner2.png) no-repeat center;
    background-size: cover;

}
.swiper-wrapper .swiper-slide3 {
    /*overflow: hidden;*/
    background: url(../imgs/banner3.png) no-repeat center;
    background-size: cover;

}
.swiper-slide1, .swiper-slide2, .swiper-slide3 {

    height: 500px;
}
.swiper-pagination span{
    border-radius: 0;
    background-color: #F93;
    width: 21px;
    height: 11px;
}
.wrap {
    width: 100%;
}
.contain {
    width: 1024px;
    margin: 0 auto;
}
.contain_title {
    width: 100%;
    clear: both;
    height: 50px;
    margin: 30px auto;
}
.line {
    width: 350px;
    height: 8px;
    margin-top: 19px;
}
.left_line {
    background: url(../imgs/xiantiao_left.png) no-repeat center;
    float: left;
}
.right_right {
    background: url(../imgs/xiantiao_right.png) no-repeat center;
    float: right;
}
.title_words {
    width: 324px;
    height: 50px;
    float: left;
    text-align: center
}
.title_words span {
    font-size: 18px;
    color: #807f7e;
    display: inline-block;
    line-height: 25px;
}
.contain .box_one {
    width: 1024px;
    height: 300px;
    margin-top: 20px;
}

.box_one ul li{
    float: left;
    width: 246px;
    height: 300px;
    margin-right: 10px;
    background: #f8f8f8;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    box-sizing: border-box;
}
.box_one ul li div {
    width: 100%;
    height: 144px;
}
.box_one .map {
    background: url(../imgs/Icon01_ash.png) no-repeat center;
    transition: transform 0.4s ease-in-out;
}
.box_one ul li p {
    margin-bottom: 10px;
    text-align: center;
}
.box_one ul li p:nth-child(2) {
    font-size: 16px;
    color: #747373;
}
.box_one ul li p:nth-child(3) {
    font-size: 14px;
    color: #747373;
    text-align: center;
    padding: 2px 11px;
    line-height: 20px;
}
.box_one .urban_APP {
    background: url(../imgs/Icon02_ash.png) no-repeat center;
    transition: transform 0.4s ease-in-out;
}
.box_one .urban_PC {
    background: url(../imgs/Icon03_ash.png) no-repeat center;
    transition: transform 0.4s ease-in-out;
}
.box_one .buy_web {
    background: url(../imgs/dashuju.png) no-repeat center;
    transition: transform 0.4s ease-in-out;
}
.box_one ul li:hover {
    background: #f69925;
}
.box_one ul li:hover p{
    color: white;
}
.box_one ul li:hover .map {
	background:url(../imgs/Icon01_white.png) no-repeat center;
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	transform: rotatey(180deg);
}
.box_one ul li:hover .urban_APP {
	background:url(../imgs/Icon02_white.png) no-repeat center;
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	transform: rotatey(180deg);
}
.box_one ul li:hover .urban_PC {
	background:url(../imgs/Icon03_white.png) no-repeat center;
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	transform: rotatey(180deg);
}
.box_one ul li:hover .buy_web {
	background:url(../imgs/dashuju01.png) no-repeat center;
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	transform: rotatey(180deg);
}
.urban_map {
    width: 100%;
    height: 600px;
    background: url(../imgs/map_big.png) no-repeat center;
    background-size: cover;
}
.urban_map img {
    width: 100%;
}
.urban_map .Apple_btn {
    width: 165px;
    height: 44px;
    margin-left: 1039px;
    padding-top: 468px;
}
.urban_map .Android_btn {
    width: 165px;
    height: 44px;
    margin-left: 1039px;
    padding-top: 23px;
}
.box_one {
    padding: 30px 0 0 0;
    background-color: #f2f2f2;
}
.box_one .contain li {
    float: left;
    margin-right: 0;
    width: 321px;
    height: 240px;
    background-color: #FFF;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
}
.box_one .contain a:nth-child(3n-1) li{
    margin-left: 30px;
    margin-right: 30px;
}
.box_one .contain a li div {
    width: 321px;
    height: 165px;
    background: url(../imgs/sanwei_black.png) no-repeat center;
}
.box_one .contain a li p {
    font-size: 18px;
    color: #807f7e;
    text-align: center;
}
.box_one .contain .pr_img1 {
    background: url(../imgs/sanwei_black.png) no-repeat center;
}
.box_one .contain .pr_img2 {
    background: url(../imgs/money.png) no-repeat center;
}
.box_one .contain .pr_img3 {
    background: url(../imgs/information.png) no-repeat center;
}
.box_one .contain .pr_img4 {
    background: url(../imgs/admin.png) no-repeat center;
}
.box_one .contain .pr_img5 {
    background: url(../imgs/web.png) no-repeat center;
}
.box_one .contain .pr_img6 {
    background: url(../imgs/people.png) no-repeat center;
}



.box_one .contain li:hover .pr_img1 {
	background:url(../imgs/sanwei_white.png) no-repeat center;
}
.box_one .contain li:hover .pr_img2 {
	background:url(../imgs/money_white.png) no-repeat center;
}
.box_one .contain li:hover .pr_img3 {
	background:url(../imgs/information_white.png) no-repeat center;
}
.box_one .contain li:hover .pr_img4 {
	background:url(../imgs/admin_white.png) no-repeat center;
}
.box_one .contain li:hover .pr_img5 {
	background:url(../imgs/web_white.png) no-repeat center;
}
.box_one .contain li:hover .pr_img6 {
	background:url(../imgs/people_white.png) no-repeat center;
}
.company_trends {
    width: 1024px;
    margin: auto;
    padding: 10px 30px 0;
}
.company_trends ul li {
    width: 100%;
    background: url(../imgs/li_img.png) no-repeat left;
    height: 33px
}
.company_trends ul li p {
    text-indent: 15px;
    width: 100%;
    line-height: 33px;
    margin: 0 0 10px;
}
.company_trends ul li p a {
    color: #807f7e;
    font-size: 16px;
    width: 80%;
}
.company_trends ul li p span {
    color: #807f7e;
    font-size: 16px;
    text-align: right;
    float: right;
}
.know_more {
    width: 100%;
    text-align: center;
}

.know_more button{
    background-color: #f69925;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 10px 20px;
    margin-top: 35px;
}
.img1 {
    width: 100%;

}
.img1 div{
    width: 232px;
    height: 200px;
    float: left;
    margin-left: 21px
}
.img1 div img{
    height: 152px;
}
.company_trends p {
    color: #5e5d5d;
    line-height: 28px;
    text-align: left;
    margin-bottom: 10px;
}
.last {
    margin-bottom: 35px;
}
